<header>
    <nav>
        <ul>
            <li><a routerLink="['/promise']">Promise</a></li>
            <li><a routerLink="['/observable']">Observable</a></li>
        </ul>
    </nav>
</header>
<h1>Promise</h1>
<strong>{{LaptopAvaibility}}</strong><br>

<div class="FLEX">
    <section>
        <h2>Promise</h2>
        <button class="buy-button" (click)="fetch1()">Buy Laptop with Promise</button>
        <div id="result1">Data</div>
    </section>
    <section>
        <h2>Section 2</h2>
        <button class="buy-button" (click)="fetch2()">Buy Laptop with Promise</button>
        <div id="result2">Data</div>
    </section>
    <section>
        <h2>Section 3</h2>
        <button class="buy-button" (click)="fetch3()">Buy Laptop with Promise</button>
        <div id="result3">Data</div>
    </section>
</div>