.container {
    display: flex;
    justify-content: space-between;
  }
  
  .box {
    width: 280px;
    height: 150px;
    background-color: #eaeaea;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 150px;
    margin-top: 180px;
    font-size: 20px;
    color: burlywood;
  }
  