.container {
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    margin-left: 400px;
  }
  
  .box {
    width: 200px;
    height: 200px;
    background-color: #eaeaea;
    border: 1px solid #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  