<div class="forFlex">
    <strong class="forStrong">Example 1</strong>
    <div class="box">
        <ul id="li2">
            <li>{{Map1}}</li>
        </ul>
    </div>
    <strong>Example 3</strong>
    <div class="box">
        <ul id="li3"></ul>
    </div>
    <strong>Example 3</strong>
    <div class="box">
        <ul id="li1">{{Map2}}</ul>
    </div>
    <strong>Example 3</strong>
    <div class="box">
        <table>
            <tr><th>Name</th></tr>
            <tr *ngFor="let item of items">
                <td>{{item}}</td>
            </tr>
        </table>
    </div>
</div>